<div class="container" id="thee">
    <div class="jumbotron">
      <p>Life Quotes!</p>
      <h6>Sharing memorable quotes</h6>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-4" id="one">
          <div class="row" id="lol">
            <h3>Publish Quotes</h3>
          </div>
          <hr>

          <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
        </div>
        <div class="col-8" id="two">
          <div class="row" id="lol">
            <h3>Memorable Quotes</h3>
          </div>
          <div class="row">
            <div class="card" id="crd" *ngFor='let quote of quotes;let i = index'>
                    <div class="card-title">
                            <h5 font color="yellow" *ngIf="showDescription">{{quote.name}}</h5></div>
